.swiper {
  width: 100%;
  height: 100%;
  padding: rem(16px) !important;
}

.swiper-slide {
  height: auto !important;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: stretch;
}

.swiper-content {
  height: 100% !important;
}
