@import "../variables";
@import "../mixins";
@import "../functions";

.brands {
  &__container {
    padding-top: rem(90px);
    padding-bottom: rem(180px);
  }

  &__title {
    margin-bottom: rem(75px);

    @media only screen and (max-width: $bp-small) {
      margin-bottom: rem(48px);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(24px);
    row-gap: rem(80px);
    align-items: center;
    justify-items: center;
    padding-right: rem(56px);
    padding-left: rem(56px);

    @media only screen and (max-width: $bp-large-medium) {
      padding-right: 0;
      padding-left: 0;
    }

    @media only screen and (max-width: $bp-medium) {
      row-gap: rem(36px);
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $bp-small) {
      row-gap: rem(36px);
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      max-width: 100%;
    }
  }
}
