@import "../variables";
@import "../mixins";
@import "../functions";

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  height: $header-height-desktop;
  background-color: $color-transparent;
  transition: all 0.4s;

  &.scrolled:not(.open) {
    background-color: rgba($color-white, 0.95);
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: rem(131px);

    @media only screen and (max-width: $bp-medium) {
      gap: normal;
      justify-content: space-between;
    }
  }

  &__logo {
    position: relative;
    z-index: 1001;
    &-image {
      width: rem(123px);
    }
  }

  @media only screen and (max-width: $bp-medium) {
    height: $header-height-mobile;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: rem(56px);

    @media only screen and (max-width: $bp-medium) {
      gap: rem(48px);
    }

    @media only screen and (max-width: $bp-small) {
      gap: rem(36px);
    }
  }

  &__link.link {
    &:link,
    &:visited {
      color: $color-text-grey;
      font-family: $font-poppins;
      font-size: rem(16px);
      font-weight: 500;
      line-height: rem(24px);
      letter-spacing: 0;
      text-align: left;
      transition: all 0.4s;
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: rem(-8px);
      border-radius: rem(0.5px);
      height: rem(1.5px);
      width: 0;
      background-color: $color-primary;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      color: $color-primary;

      &::before {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: $bp-extra-small) {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($color-white, 0.95);
    box-shadow: 0 8px 16px -8px rgb(17 17 26 / 10%);
    width: 100%;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.4s;
    padding: 0 rem(48px);

    @media only screen and (max-width: $bp-extra-small) {
      padding-right: rem(24px);
      padding-left: rem(24px);
    }
  }
}

.menu-btn {
  display: none;
  position: relative;
  background-color: $color-transparent;
  width: rem(36px);
  height: rem(36px);
  border: none;

  &__icon {
    top: 50%;
    transform: translateY(-50%);

    &,
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $color-primary;
      width: 100%;
      height: rem(2.5px);
      left: 0;
      transition: all 0.4s;
    }

    &::before {
      top: rem(-9px);
    }

    &::after {
      top: rem(9px);
    }
  }

  @media only screen and (max-width: $bp-extra-small) {
    display: block;
  }
}

@media only screen and (max-width: $bp-extra-small) {
  .header.open {
    .menu-btn {
      &__icon {
        background-color: transparent;

        &::before,
        &::after {
          top: 0;
        }

        &::before {
          transform: rotate(-225deg);
        }

        &::after {
          transform: rotate(225deg);
        }
      }
    }

    .nav {
      max-height: rem(300px);
      opacity: 1;
      visibility: visible;
      padding-top: calc($header-height-mobile + 24px);
      padding-bottom: rem(24px);
    }
  }
}
