@import "../variables";
@import "../mixins";
@import "../functions";

$bp-swiper-collapse: 1250px;
$bp-swiper-extra-small: 450px;

.reviews {
  &__container {
    padding-top: rem(240px);
    padding-bottom: rem(120px);
    position: relative;

    @media only screen and (max-width: $bp-large-medium) {
      padding-top: rem(180px);
      padding-bottom: rem(90px);
    }
  }

  &__title {
    margin-bottom: rem(110px);

    @media only screen and (max-width: $bp-large-medium) {
      margin-bottom: rem(75px);
    }

    @media only screen and (max-width: $bp-small) {
      margin-bottom: rem(48px);
    }
  }

  &__review {
    width: 100%;
    border-radius: rem(12px);
    display: grid;
    grid-template-columns: 0.503fr 0.497fr;
    column-gap: rem(146px);

    @media only screen and (max-width: $bp-swiper-collapse) {
      column-gap: rem(96px);
    }

    @media only screen and (max-width: $bp-large-medium) {
      column-gap: rem(48px);
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      row-gap: rem(36px);
      padding: rem(32px) rem(24px);
      box-shadow: rgb(149 157 165 / 20%) 0 8px 10px;
    }

    &-image {
      justify-self: end;
      align-self: center;

      &-wrapper {
        position: relative;
        width: rem(341px);
        height: rem(341px);

        &::before {
          content: "";
          display: block;
          position: absolute;
          transform: rotate(-8deg);
          top: rem(56px);
          left: rem(-65px);
          z-index: -1;
          background-color: $color-primary;
          border-radius: rem(40px) 0 rem(400px) rem(400px);
          width: rem(287px);
          height: rem(257px);

          @media only screen and (max-width: $bp-large-medium) {
            width: rem(170px);
            height: rem(200px);
          }

          @media only screen and (max-width: $bp-extra-small) {
            display: none;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }

        @media only screen and (max-width: $bp-large-medium) {
          width: rem(280px);
          height: rem(280px);
        }

        @media only screen and (max-width: $bp-extra-small) {
          width: rem(200px);
          height: rem(200px);
        }
      }

      @media only screen and (max-width: $bp-medium) {
        justify-self: center;
      }
    }

    &-content {
      align-self: stretch;
      padding: rem(29px) 0;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $bp-small) {
        padding: 0;
      }
    }

    &-feedback {
      @include line-clip(4, $is-flex-item: true);

      flex-grow: 1;
      font-size: rem(24px);
      font-weight: 400;
      line-height: rem(38px);
      letter-spacing: 0;
      color: $color-text-grey;
      margin-bottom: rem(56px);

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: rem(36px);
      }

      @media only screen and (max-width: $bp-small) {
        font-size: rem(18px);
        line-height: rem(32px);
      }
    }

    &-author {
      color: $color-black;
      font-size: rem(24px);
      font-weight: 600;
      line-height: rem(38px);
      letter-spacing: 0;
      margin-bottom: rem(8px);

      @media only screen and (max-width: $bp-small) {
        font-size: rem(18px);
        line-height: rem(24px);
      }
    }

    &-career {
      text-transform: uppercase;
      font-size: rem(18px);
      font-weight: 500;
      line-height: rem(29px);
      letter-spacing: 0.08em;

      @media only screen and (max-width: $bp-small) {
        font-size: rem(14px);
        line-height: rem(18px);
        letter-spacing: 0.04em;
      }
    }
  }

  &__pagination.swiper-my-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: rem(40px);
    left: auto;
    top: auto;
    right: rem(120px);
    width: auto;

    .swiper-pagination-bullet {
      margin: 0 rem(5px);
      width: rem(10px);
      height: rem(16px);
      border-radius: rem(20px);
      background-color: $color-text-grey;
      transition: all 0.4s;

      &.swiper-pagination-bullet-active {
        background-color: $color-primary;
        transform: rotate(270deg);
      }
    }

    @media only screen and (max-width: $bp-medium) {
      right: 50%;
      bottom: rem(40px);
      transform: translateX(50%);
    }
  }
}
