@import "./variables";
@import "./functions";
@import "./mixins";

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    color: inherit;
  }
}

html,
body {
  min-height: 100%;
  height: 100%;
}

html {
  font-size: rem($html-font-size);
}

body {
  font-size: rem(16px);
  font-family: $font-poppins;
  color: $color-text-grey;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: top;
}

svg {
  color: inherit;
  width: rem(24px);
  height: rem(24px);
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: rem(1440px);
  margin: 0 auto;
  padding-right: rem(120px);
  padding-left: rem(120px);

  @media only screen and (max-width: $bp-medium) {
    padding-right: rem(80px);
    padding-left: rem(80px);
  }

  @media only screen and (max-width: $bp-small) {
    padding-right: rem(48px);
    padding-left: rem(48px);
  }
}
