@font-face {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Cal Sans"), url("../fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("../fonts/CalSans-SemiBold.woff") format("woff");
}
