$header-height-desktop: rem(153px);
$header-height-mobile: rem(76px);
$font-poppins: "Poppins", sans-serif;
$font-cal-sans: "Cal Sans", sans-serif;
$color-black: #000;
$color-white: #fff;
$color-text-grey: #666;
$color-light-grey: #B2B2B2;
$color-primary: #ff6428;
$color-transparent: transparent;
$bp-large: 1440px;
$bp-large-medium: 1200px;
$bp-medium: 990px;
$bp-small: 700px;
$bp-extra-small: 600px;
